@import '_vars.scss';

::placeholder {
  color: #EAE2B7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

input,
label,
textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 5px;
}

label {
  color: #D62828;
}

input,
textarea {
  background: #D62828;
  color: #EAE2B7;
  border: none;
}



form {
  padding: 1rem;
  width: 30%;
  background: #FCBF49;
  border-radius: .625rem;

  .div {
    margin: .625rem;
    padding: .625rem;
    border-bottom: 1px solid #F77F00;
  }

  input[type=submit] {
    background: #D62828;
    border: none;
    color: #EAE2B7;
    font-size: 1.15rem;
    cursor: pointer;
  
    &:hover {
      background: #EAE2B7;
      color: #D62828;
    }
  }
}

.main{

  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.menu{
  height: 100vh;
}

footer{
  height: 10vh;
  width: 100vw;
  position: relative;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $vermelho;
  color: $branco;
}