* {
  padding: 0;
  bottom: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 130px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 30px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  list-style-type: none;
}
ul li a {
  color: #e12d52;
}
ul li a:hover {
  color: #98001e;
}

.current-page a {
  color: #8a8a8a;
  position: relative;
  margin-bottom: 10px;
}
.current-page a::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background: #ccc;
  position: absolute;
}

.fale {
  background: #d10029;
  width: 110px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fale a {
  color: #fff;
}
.fale:hover {
  color: #fff;
  background: #630114;
}
.fale:hover a {
  color: #fff;
}

#banner {
  display: flex;
  height: 312px;
}
#banner .banner-content {
  background: #dc002d;
  padding: 50px;
  color: #fff;
}
#banner .banner-content .banner-text {
  margin-bottom: 60px;
}
#banner .controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banner .controls .move {
  height: 40px;
  width: 40px;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
#banner .controls .move.backward {
  background: #98001e;
}
#banner .controls .move.backward:hover {
  background: #630114;
}
#banner .controls .move.forward {
  background: #630114;
}
#banner .controls .move.forward:hover {
  background: #98001e;
}
#banner .dot {
  border: none;
  background: none;
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}
#banner .dot.active {
  background-color: #432e32;
}

#info {
  padding: 28px 40px;
}
#info .info-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#info .info-content h4 {
  margin-bottom: 40px;
}
#info .info-content p {
  margin-bottom: 30px;
}
#info .info-content .info-button {
  background: none;
  border: 2px solid #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#info .info-content .info-button a {
  color: #dc002d;
  padding: 4px;
}
#info .info-content .info-button i {
  background: #ccc;
  color: #fff;
  padding: 4px;
  border-radius: 2px;
  margin-left: 6px;
}
#info .info-content .info-button:hover i {
  background: #dc002d;
  color: #fff;
}
#info .info-content .info-button.active a {
  color: #dc002d;
  padding: 4px;
}
#info .info-content .info-button.active i {
  background: #dc002d;
  color: #fff;
  padding: 4px;
  border-radius: 2px;
  margin-left: 6px;
}

#footer {
  height: 180px;
  width: 100%;
  background: #e7e7e7;
  padding: 28px 50px;
  display: grid;
  grid-template-columns: 1fr 50px 1fr 1fr;
  justify-content: center;
  align-items: center;
}
#footer .footer-infos {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#footer .footer-infos .address {
  font-size: 12px;
  color: #333;
}
#footer .footer-infos .local {
  display: flex;
  justify-content: center;
}
#footer .fale-footer {
  display: grid;
  justify-items: right;
}
#footer .fale-footer a {
  color: #dc002d;
}
#footer .fale-footer p {
  color: #7f7f7f;
  font-size: 12px;
}

/*# sourceMappingURL=style.css.map */
