$color-font: #333 ;
$color-bg-default: rgb(236, 235, 241);
$color-bg-default-dark: rgb(87, 75, 146);
$color-bg-boxes: rgb(131, 250, 160);
$font-default: 'made_tommyregular', 'sans-serif';
$font-size-default: 1.6rem;