@import 'vars';
@import 'vitrine';
@import 'fonts';


html {
    font-size: 62.5%;
}

*{
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: $color-bg-default;
    font-family: 'made_tommyregular', 'sans-serif';
}

h1 {
    color: $color-font;
    text-align: center;
    margin-top: 4rem;
}

h2 {
    margin-top: 4rem;
}

.container {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    max-width: 90vw;
}

header, section, footer{
    display: block;
    float: left;
    width: 100%;
}

#sobre{
    background-color: white;
    color: $color-bg-default-dark;
    padding: 1rem;
    margin: 1rem 0 1rem 0;
}

// #produtos{

// }

