@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

$align: left;
$bg-color: rgb(84, 207, 160);
$color-01: rgb(43, 43, 43);
$color-02: #999;
$color-03: rgb(17, 94, 36);
$color-04: rgb(236, 236, 236);
$color-default: #444;
$font-big: 3rem; 
$font-family-default: 'Ubuntu', sans-serif;
$font-medium: 2.2rem;
$font-normal: 1.5rem;
$font-small: 1.2rem;
$mb: 1.5rem;
$mt: 1.5rem;
$mt-02: 3rem;
$space-default: 1.5rem;