#images {
  padding: 1rem;

  h2{
    margin-bottom: 1rem;
}

  .imgCont {
    column-count: 4;
    column-gap: 1rem;

    img {
      max-width: 100%;
      display: block;
    }

    figure {
      display: grid;
      grid-template-rows: 1fr auto;
      margin-bottom: 1.25rem;
      break-inside: avoid;
      transition: 0.5s all ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
      img {
        grid-row: 1 / -1;
        grid-column: 1;
      }
    }
    figcaption {
      grid-row: 2;
      grid-column: 1;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 0.2em 0.5em;
      justify-self: start;

      a {
        color: black;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 600px) {
  .imgCont{
    display: flex;
    flex-direction: column;
  }
}