@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

$c0: #d0ddf2;
$c1: #d0c6c8;
$c2: #cdae9f;
$c3: #ca9577;
$c4: #c67c50;
$c5: #c2622d;
$c6: #c25b37;
$c7: #d14e37;
$c8: #b83030;
$c9: #b91e2e;
$c10: #8f1229;