@media (max-width: 900px) {
  .steps{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
  
  .vitrine{
    grid-template-columns: repeat(2, 1fr);
  }
  

}  

@media (max-width: 600px) {
  
  header .container {
    justify-content: center;
    flex-flow: column;
    margin-bottom: 1rem;

    .hero{
      background-size: 300px;
      padding-bottom: 0;
      
    }
  }
  
  .logo{
    display: flex;
  }
  
  .nav, .logo{
    justify-content: center;
  }
  
  h1{
    margin-top: 1rem;
  }
  .steps, .vitrine{
    grid-template-columns: repeat(1, 1fr);
  }
  
}
