
.nav {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    align-items: center;

    &__item {
        color: $font-color-primary;
        font-size: $font-size-nav;
        text-decoration: none;
        position: relative;
        transition: 0.3s;

        &:hover {
            color: $color-secondary;
            transform: translate(0, -5px);
        }
    }
}