@import 'fonts';

$color-primary: #e51f45;
$color-secondary: #000;
$font-color-primary: #e4e4e4;
$font-color-secondary: #454545;
$font-default: 'Prompt', sans-serif;
$font-size-default: 1.3rem;
$font-size-nav: 1.4rem;
