@import 'vars';
@import 'fonts';
@import 'nav';
@import 'form';
@import 'bs';



html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: $color-primary;
    font-family: $font-default;
    margin: 0;
}

.logo{
    padding: 1rem;
}

h1 {
    color: $font-color-primary;
    text-align: center;
    margin-top: 4rem;
}

article {

    h1 {
        color: $color-secondary;
        font-size: 3rem;
        text-align: left;
    }

}

h2 {
    color: $color-secondary;
    font-family: $font-default;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 4rem;
}

#root,
header,
section,
footer {
    display: block;
    float: left;
    width: 100%;
}

section {
    padding: 4rem 0;
    margin: 0;
}

.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    max-width: 90vw;
}
@import 'animations';
@import 'header';
@import 'sobre';
@import 'produtos';
@import 'vitrine';
@import 'steps';
@import 'footer';