@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

$primary-blue: rgb(0, 170, 255);
$secondary-blue: rgb(205, 239, 255);
$white: rgb(241, 240, 240);
$blue-hover: rgb(2, 159, 238);